@import url('https://fonts.googleapis.com/css?family=Lato|Supermercado+One');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
box-sizing: border-box;
}

body{
 background-image: url(./img/Wedding\ Day\ Blues.jpg);
 background-size: cover;
 font-family: 'Lato';
 font-size: 18px;
 color: #EEEEEE;
}

#main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20vh;
  margin-bottom: 50px;
}

.bordaComputador{
  border: 1px solid #CFD8DC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px; /* largura da borda */
  height: 50px; /* tamanho da borda */
  margin: auto;
}

.bordaUsuario{
  border: 1px solid #CFD8DC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px; /* largura da borda */
  height: 50px; /* tamanho da borda */
  margin: auto; /* centraliza  */
  margin-top: 20px;
  margin-bottom: 20px;
}

.teste{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

input{
  height: 40px;
  color: #595959;
  text-align: center;
  margin-top: 10px;
  border-radius: 5px;

}


button{
  height: 50px;
  width: 100px;
  border-radius: 5px;
  margin-top: 10px;
}

 /* tablet */
    
 @media (min-width: 500px) and (max-width: 768px){
  
  input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    margin-left: 5px;
}

button{
  height: 50px;
  width: 100px;
  border-radius: 5px;
  margin-top: 10px;
}

}


/* mobile */

@media screen and (max-width: 500px){

  main{
    font-size: 20px;
  }
  input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    margin-left: 50px;
    margin-left: 5px;
}

button{
  height: 50px;
  width: 100px;
  border-radius: 5px;
  margin-top: 10px;
}

}

/* laptop-notebook */

@media screen and (min-width: 768px){

  main{
    margin-bottom: 10px;
  }

  input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;

}
button{
  margin: auto;
  margin-top: 10px;
}

}